/* 
    Document   : css
    Created on : 04-dic-2013, 11:19:08
    Author     : cep
    Description:
        Purpose of the stylesheet follows.
*/


.contenedor{
    width: 100%;
}

.cabecera{
    display: inline;
    background-color:gray;
    /*height: 50px;*/
}
#logoh1{
    margin: 0px;
}
#frlogin{
 text-align: left;

}
#lregistroIzqui{
    text-align: center;
}
#txtarea{
  
}
